Body {
    margin: 0px;
    padding: 0px;
    height: 2000px;
}

header {
    height: 100px;
    width:auto;
}

.headline  {
    weight:1140px;
    height:10px;
    background-color: #036635;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    max-width:1140px;
    
}


.rodape_left img {
    height: 80px;
    width: 80px;
    margin-left: 70px;
    margin-top: 20px;
}

.rodape_right input  {
    padding: 11px;
    width: 280px;
    border:1px solid grey;
    margin-left: 750px;
}

.rodape_right img  {
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -25px;
    margin-right: -130px;
}

.background_top {
    background-image: url(images/bg.jpg);
    height: 700px;
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}


.title  {
    margin-left: 80px;
    margin-top: 100px;
    line-height: 20px;
}
.title h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.title h1:hover {
    font-size: 90px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#036635
}

.title h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape_background {
    display: flex;
    margin-left: 50px;
    transition: transform 0.3s ease;
}

.rodape_background img{
    height: 180px;
    border: 1px solid  #036635;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin-top: 200px;
    margin-left: 30px;
}

.rodape_background img:hover {
        -xpedu-transform: scale(1.3);
        -ms-transform: scale(2.0);
        transform: scale(1.5);
}

.rodape_background:not(:hover) {
    opacity: 0.4;
    transform: scale(1);
  }

button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    margin-left: 10%;
    width: 120px;
    
}

button:hover{
    background-color: #036635;
    color:white;
    
}

.barra {
    height: 25px;
    width:170px;
    background-color: #036635;
    margin-left:10%;
    margin-bottom: -40px;
    margin-top: 50px;
}


.text_area h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-left:10%;
    margin-top:50px;
}

.text_area h4 {
    font-family: 'Oswald', sans-serif;
    margin: 10%;
    font-weight: 200;
    font-size: 16px;
}



.area1  {
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.text_area {
    padding: 80px;
}


.item2  {
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url('images/mulhersorrindo.jpg');
    background-size: cover;
    background-position: center;
}

.item3  {
    background-image: url('images/gaga.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}


.area2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.item4  {
    grid-column: 1/1;
    grid-row: 1/3;
    background-image: url('images/cha.jpg');
    background-size: cover;
    background-position: center;
}

.item5  {
    background-image: url('images/copo.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}


.area3 {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        height: 700px;
}

.background_area2   {
    background-image: url('images/bg2.jpg');
    background-size: cover;
}
.text_area2 {
    margin-top: 180px;
}


.text_area2 h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-left:10%;
    margin-top:50px;
}

.text_area2 h4 {
    font-family: 'Oswald', sans-serif;
    margin: 10%;
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
}


.item6 {
        background-image: url('images/f5.jpg');
        background-size: cover;
        background-position: center;
}

.area4  {
    display: grid;
    grid-template-columns: 290px 1fr;
    height: 700px;
}

.item7 {
    background-image: url('images/bg3.jpg');
    background-position: left;
    grid-column:2/2;
    grid-row:1/4;
}


.text_area3 {
    background-color: #e8e9ee;
    grid-column:1/1;
    grid-row:1/4;
    padding: 30px;

}

.text_area3 h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-left:10%;
    
}

.text_area3 h4 {
    font-family: 'Oswald', sans-serif;
    margin: 10%;
    font-weight: 200;
    font-size: 18px;
}

.barra3 {
    height: 25px;
    width:200px;
    background-color: #036635;
    margin-left:10%;
    margin-top:200px;

}

.area5 {
    background-image: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 400px;
    display:flex;
    justify-content: space-between;

}

.footer_img {
    margin-top: 60px;
    height: 300px;
    margin-left: 100px;
}



.footer_menu {
    font-size: 30px;
    margin-top: 40px;
    color: white;
    margin-right: 50px;
    text-align: right;
}

.footer_menu h1 {
    font-size:60px;
    font-family: Helvetica, sans-serif;
}


.footer_menu p  {
    font-size:13px;
    font-family: Helvetica, sans-serif;
    margin-top: 60px;
}

.footer_menu h4  {
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    margin-top: -10px;
}

.footer_line {
    weight:1140px;
    height:8px;
    background-color: #036635;
}

.barra4 {
    height: 25px;
    width:170px;
    background-color: #036635;
    margin-bottom: -30px;
    margin-top: 25px;
    margin-left: 300px;
}


/*responsive code for mobile */

@media (max-width: 440px) {
    Body {
        margin: 0px;
        padding: -5px;
        height: 2000px;
    }
    
    header {
        height: 100px;
        width:auto;
    }
    
    
    .conteiner{
        display: flex;
        justify-content: space-between;
        width: 700px;
    }
    

    .rodape_left img {
        height: 60px;
        width: 60px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .rodape_right input  {
        width: 150px;
        height: 30px;
        margin-left: -280px;
    }
    
    .rodape_right img  {
        padding: 10px;
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: -25px;
        
    }

    .background_top {
        background-image: url(images/bg.jpg);
        height: 700px;
        width: 500px;
        background-position: right;
    }
    
    
    .title  {
        margin-left: 50px;
        margin-top: 100px;
    }

    .title h1 {
        font-size: 50px;
    
    }
    .title h1:hover {
        font-size: 50px;
    }
    
    .title h4 {
        font-size: 10px;
    }
    
    .rodape_background {
        margin-top: 600px;
        margin-left: 25px;
    }
    
    .rodape_background img{
        height: 100px;
        width: 100px;
        margin-top: -400px;
        margin-left: 5px;
        opacity: 0.5;
    }
    .rodape_background img:hover{
        height: 100px;
        width: 100px;
        margin-top: -400px;
        margin-left: 5px;
        opacity: 1.0;
    }


    .item3 {
        height: 290px;
    
    }
    
    
    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .text_area,
    .text_area2,
    .text_area3,
    .text_area  {
        padding:40px;
    }


    
    .area3 {
        padding: 20px;
        margin-left: -20px;
    }

    .text_area3, {
        margin-top: -400px;
    }

    .area4  {
        height: 200px;
    }


    .footer {
        flex-direction: column;
    }

    .footer_img img{
        height: 100px;
        margin-left:17%
    }

    .footer_menu {
        text-align: center;
        margin:0px;
        margin-bottom: 50px;
    }

    .footer_menu h1 {
        font-size:30px;
    }
    
    .footer_menu h4 {
        font-size:15px;
    }

    .footer_menu p {
        font-size:7px;
        
    }

    .barra4 {
        background-color:transparent;
    }

}